@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-start {
    margin-left: 60px;
    margin-right: 60px;
  }
  .slider{
    width: 100%;
    margin-left: 60px;
    margin-right: 60px;
  }
  .card{
    width: 100%;
    margin-left: 60px;
    margin-right: 60px;
  }
.service{
  margin-left: 60px;
  margin-right: 60px;
}
  
  
